<style type="text/css">
  #something {}

	#menu {
		font-family: 'Monotype Corsiva', serif;
		font-size: 24px;
		line-height: 36px;
		font-color: #303845;
	}

	#authentication {
		font-family: 'Monotype Corsiva', serif;
		font-size: 24px;
		line-height: 36px;
		font-color: #A6ABB5;
	}
</style>