.buy_from_tf {
	width:115px;
	height: 115px;
	position: absolute;
	right:0;
}
.buy_from_tf a, .buy_from_tf img {
	border: none;
}
a {
	outline: none;
}
html, body, ul, ol, li, form, blockquote, dl, dd, img, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	list-style:none;
}
dd, blockquote {
	margin-left: 1em;
}
fieldset {
	border: none;
}
input, select, textarea {
	font-size: 100%;
	font-family: inherit;
}
/* default styles */
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left
}
.alignright {
	float: right
}
img.alignleft {
	margin:3px 20px 10px 0
}
img.alignright {
	margin:3px 0 10px 20px
}
.text-right {
	text-align:right
}
.text-left {
	text-align:left
}
.text-center {
	text-align:center
}
.clear {
	clear:both
}
hr {
	height:1px;
	color:#d6d6d6;
	background:#d6d6d6;
	padding:0;
	margin:15px 0;
	border:none
}
a {
	color:#25A0CC;
	text-decoration:none
}
a:hover {
	color:#075C87
}
h1, h2, h3, h4, h5 {
	color:#1F2933;
	font-weight:normal
}
h1 {
	font-size:32px;
	font-family: 'Tienne', serif;
}
h2 {
	font-size:20px;
}
h3 {
	font-size:18px
}
h4 {
	font-size:16px
}
/*--------- layout */
body {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	background: #F2F7FC url('../images/noisepattern.png');
	color:#42596C
}
.container {
	width:996px;
	margin:0 auto;
	position:relative;

}
.container-home {
	background:url('../images/main-bg.jpg') center  no-repeat;
}

.bodywrap {
	height:100%;
}
/*--------- header */
.header-wrap {
	background:#1B2539 url('../images/top-bg.png') repeat-x bottom;
	border-bottom:1px solid #42596C;

}
.header {
	padding-top:6px;
	height:80px;
	width:996px;
	margin:0 auto 0;
	position:relative;
	background:url('../images/header-top.png') no-repeat 0 60px;
}
.logo {
	width:380px;
	margin-top:8px;
	float:left;
}
.topmenu {
	height:75px;
	float:right;
	font-size: 17px;
	font-family: 'Tienne', serif;
}
.topmenu ul li {
	display:block;
	float:left;
	height:75px;
}
.topmenu a {
	display:block;
	float:left;
	height:75px;
	line-height:74px;
	color:#2B90C8;
	text-decoration:none
}

.topmenu span a {
	display:block;
	float:left;
	height:75px;
	padding:0 10px;
}

.topmenu a span {
	display:block;
	float:left;
	height:75px;
	padding:0 10px
}
.topmenu a.active, .topmenu a:hover {
	color:#fff;
}
.topmenu a.active span, .topmenu a:hover span {
}
.topmenu .last {
	background:url('../images/topm_line.gif') left center no-repeat;
	padding-left:2px
}
/*--------- top slider content */
.slide-title {

}
.slide-title img {
	margin-left:5px;
}
.slide-title strong {
	font-weight:normal
}
.left-text {
width:527px;
margin: 405px 0 0 205px;
position: absolute;
z-index: 4;
padding:0 30px;
border-top: 1px solid #C7D1DB;
text-align: center;	
}

.step {
background: url(../images/circle.png) no-repeat center;
width: 50px;
height: 50px;
line-height: 50px;
margin: -30px auto 0;
font-weight: bold;
font-size: 28px;

}

.ui-tabs-panel {
	color:#3e424c
}
.left-text p {
	color: #1F2933;
	font-size: 18px;
	font-family: 'Tienne', serif;
	text-shadow: 1px 1px 0 #FFF;
}
.right-text {
	width: 483px;
	height: 405px;
	position: absolute;
	margin: 0 0 0 244px;
	z-index: 2;
	}
	
.btn-plus {
	float:right;
	margin:20px 0 0 10px;
}
/*--------- middle layout */
.middle {
	background: url('../images/middle-bg.png') repeat-y center;
	width:916px;
	margin:0 auto;
	padding:20px 40px 80px 40px;
	min-height:400px;
}

.wrapper {
	width:100%;
	float:left;
	background:#000;
}
.content {
	margin:0 0 0 236px;
	padding-left:0;
}

#content {
	
}

.text {
	padding-left:20px;
	padding-right:20px;
}
.navigation {
	width:180px;
	float:left;
	margin-left:-986px;
	padding-left:20px;
}
/*--------- homepage */ 

.middle-home {
	margin:0 auto;
	padding:20px 0 40px 0;
	width:996px;
	background: url('../images/middle-bg.png') repeat-y center;
}

.homepage .middle h3 {
	text-align:center;
	margin:10px 0;
	font-family: 'Tienne', serif;
	font-size:24px;
}

.middle-home .content {
	margin:0 0 0 0;
	padding:40px 0;
}


.middle-home .content h2 {
	text-align:center;
	font-weight:bold;
	font-size:28px;	
}

.middle-home .content h3 {
	text-align:center;
	font-family: 'Tienne', serif;
	font-size: 16px;

}

a#browse-link {
	text-align:center;
	display:block;
	background:#339FD0;
	margin:20px auto;
	width:200px;
	height:40px;
	line-height:40px;
	position:relative;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	font-size:16px;
}

.homepage .navigation {
	width:290px;
	float:left;
	margin-left:-330px;
	padding-right:20px;
}
/*--------- one column layout (pricing) */ 
.onecolumn .header {
	position:relative;
}
.onecolumn .middle {
	margin:0 auto;
	padding:50px 0 40px 0;
}
.onecolumn .profile-columns {
	margin:0;
	padding:0;
}
/*--------- content topbox */
.topbox {
	margin:-90px 0 30px 15px;
	position:relative;
	background:url('../images/topbox_bg.gif') right 70px no-repeat;
	height:335px;
}
.topbox-image {
	float:left;
	width:484px;
	height:335px;
}
.topbox-right {
	width:240px;
	float:left;
	padding-top:100px;
}
.topbox-text {
	padding:0 30px 0 30px;
	height:160px;
	font-weight:normal;
	font-size:13px;
	line-height:1.4em
}
.topbox-title {
	font-family: 'Tienne', serif;
	color:#1F2933;
	font-size:25px;
	font-weight:normal
}
.btn-video {
	display:block;
	background:url('../images/btn-watch-video.gif') no-repeat;
	width:154px;
	padding-right:30px;
	height:30px;
	line-height:30px;
	color:#79d7ff;
	text-align:center;
	font-family: 'Tienne', serif;
	font-size:16px;
	margin:5px auto
}
/* content boxes */
.horizontal-box {
	min-height:80px;
	margin:35px 0 30px 0
}
.horizontal-image {
	width:90px;
	height:90px;
	overflow:hidden;
	float:left;
	margin-right:20px;
	text-align:center
}
.horizontal-box h2, .horizontal-box h3, .vertical-box h2, .vertical-box h3, .white-box h2, .white-box2 h2 {
	color:#25a0cc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px
}
.horizontal-box p, .vertical-box p {
	margin:7px 0;
	font-size:13px
}
.vertical-box {
	width:300px;
	float:left;
	padding:30px 28px 23px 29px
}
.white-box {
	background:url('../images/box-white-wide-top.gif') top no-repeat;
	width:716px;
	margin-bottom:30px
}
.white-box-bot {
	background:url('../images/box-white-wide-bot.gif') top no-repeat;
	height:7px;
	font-size:1px;
	clear:both
}
.white-box2 {
	background:url('../images/box-white-wide2-top.gif') top no-repeat;
	margin:10px 0 30px 0
}
.white-box2-bot {
	background:url('../images/box-white-wide2-bot.gif') top no-repeat;
	height:7px;
	font-size:1px;
	clear:both
}
.col-2 {
	width:420px;
	float:left;
	margin:0 20px;
	padding:30px 10px 20px 10px
}
.col-2 p {
	line-height:1.4em;
}
.white-box2 .col-2 {
}
.text .white-box ul {
	padding:0
}
.nobg {
	background:none
}
/*--------- content styles */
.upper-title {
	color:#bfbfbf;
	font-size:12px;
	text-transform:uppercase;
}
.content h1 {
	margin:0 0 10px 0;
	font-size: 18px
}
.text ul, .text ol {
	padding:10px 0 5px 40px
}
.text ul li {
	list-style:disc;
	margin-bottom:7px
}
.text ol li {
	list-style:decimal;
	margin-bottom:7px
}
.blue {
	color:#25a0cc
}
.content .text {
	line-height:1.4em;
	color:#656565;
}


.box-text {
}
.box-text p {
	margin:0;
	padding:5px 0 10px;
}
.two-columns {
	width:600px;
	padding:40px 0 10px 10px
}
.two-columns h2 {
	font-size:12px;
	text-transform:uppercase;
	color:#bfbfbf;
	font-family:Arial, Helvetica, sans-serif;
}
.two-columns h3 {
	margin:5px 0;
	border-bottom:1px solid #d9ddde;
	padding-bottom:7px;
	font-size:19px;
	font-family: 'Tienne', serif;
}
.two-columns h3 a {
	color:#000;
}
.two-columns h3 a:hover {
	color:#79b016
}
.two-columns .col-1 p, .two-columns .col-1 p {
	line-height: 1.4em;
}
.two-columns .col-1, .two-columns .col-1 {
	width:280px;
	float:left;
	color:#656565;
}
.two-columns ul {
	margin-right:40px;
}
.two-columns li {
	border-bottom:1px solid #d9ddde;
	margin-bottom:5px;
	background:url('../images/dot-blue.gif') 0 7px no-repeat;
	padding:3px 0 5px 13px;
	font-weight:bold
}
.two-columns li:hover {
	background:url('../images/dot-green.gif') 0 7px no-repeat;
}
.gutter {
	width:40px;
	min-height:1px;
	float:left
}
.two-columns .list-icons li {
	padding-top:6px;
	height:22px
}
.two-columns .ico-arr, .two-columns .ico-arr:hover {
	background:url('../images/arrow-1.gif') 3px 0 no-repeat;
	padding-left:40px;
}
.two-columns .ico-pdf, .two-columns .ico-pdf:hover {
	background: url('../images/icon-pdf.gif') 0 0 no-repeat;
	padding-left:40px;
}
/*--------- navigation left */
.left-menu, .blogmenu {
	width:180px;
	font-size:14px;
	font-weight:bold;
	padding-bottom:40px
}
.left-menu a {
	color:#25a0cc;
	display:block;
	padding:0 0 0 17px;
	min-height:38px;
	line-height:38px;
	border-bottom:1px solid #e4e4e6
}
.left-menu a:hover, .left-menu .active a:hover, .blogmenu a:hover {
	color:#075C87
}
.left-menu .active a {
	background:url('../images/left-menu-active.gif') 0 center no-repeat;
	color:#797c80;
	border-bottom:none
}
.left-menu h3, .blogmenu h3 {
	font-size:22px;
	padding:0 0 10px 17px;
	border-bottom:1px solid #e4e4e6
}
.blogmenu li {
	border-top:1px solid #fff;
	border-bottom:1px solid #e4e4e6;
	padding:10px 0 10px 17px;
}
.blogmenu .active a {
	color:#075C87
}
.blogmenu a {
	color:#25a0cc;
}
.navigation .widget_search h3 {
	border:none;
	margin-bottom:0
}
.stext {
	background:url('../images/bg_search_text.gif') no-repeat;
	width:170px;
	height:25px;
	padding:6px 5px 0 6px;
	color:#9da0a4;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-style:italic;
}
.social-list {
	padding:5px 0 5px 15px
}
.social-list img {
	margin:2px
}
/*--------- navigation right */
.login p {
	margin:0;
	padding:12px 15px;
	font-size:12px;
	font-weight:bold
}

.navigation h3 {
	border-bottom:1px solid #d9ddde;
	color:#484f61;
	font-family: 'Tienne', serif;
}
.btn-more {
	display:block;
	background:url('../images/btn-more.gif') no-repeat;
	width:128px;
	height:30px;
	line-height:30px;
	color:#79d7ff;
	text-align:center;
	font-family: 'Tienne', serif;
	font-size:12px;
}

/*--------- footer */
.footer {
	background: url('../images/footer-bg.png') repeat-x top #1D2438;
	min-height:220px;
	clear:both
}
.footer .container {
	min-height:220px;
	padding-top:60px;
	background: url('../images/footer_bg_center.png') no-repeat top;
}

.homepage .footer .container {
	background:none;
	
}

.footer a {
	text-decoration:none
}
.footer a:hover {
}
.footer h3 {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:10px;
	color:#fff;
	padding-bottom:10px
}
.footer ul {
	padding:2px 0 5px;
	font-size:13px
}
.footer li {
	margin-bottom:10px
}
.cols {
	width:100px;
	float:left;
	margin-left:20px
}

.fcol-1 {
	width:400px;
	margin-right: 20px;
}

.fcol-2 {
	
	margin-right: 20px;
}

.fcol-5 {
	width:250px;
	float:right
}
.icons-fallow img {
	margin:2px 5px 0 0;
}
.copyright {
	color:#FFF;
	padding:0 50px 10px 0;
	height:50px;
	margin:0 0 0 0;
	line-height:1.5em
}
.copyright p {
	display:block;
	margin:0;
}
/* contact form */
.submit-form {
	width:710px
}
.submit-form input, .submit-form textarea {
	border:none;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px
}
.submit-form label {
	display:block;
	width:100px;
	float:left;
	text-align:right;
	padding-right:5px;
	height:25px;
	line-height:25px;
	font-weight:bold
}
.inputtext {
	
}
.inputtext input {
	
}
.textarea {
	
}
.textarea textarea {
	
}
input#comment_submit {
background: #339FD0;
text-align:center;
color: #FFF;
text-transform: uppercase;
font-weight: bold;
padding: 10px;
margin-left: 40px;



	
}
.btn-send input:hover {
}
.notice-field {
	display:block;
	float:left;
	padding-left:75px
}
/* contact info box */
.submit-info {
	margin:0 5px;
	line-height:1.4em
}
.submit-info h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#797c80;
	padding:0 0 7px 0;
	margin-bottom:5px;
	border-bottom:1px solid #e3e3e4
}
.submit-info .row {
	clear:both;
	padding:10px 0;
	border-bottom:1px solid #e3e3e4
}

a.link-comments {
	background: url('../images/comment-bg.png') no-repeat top;
	display:block;
	text-align:center;
	font-weight:bold;
	width: 70px;
	height: 50px;
	line-height: 45px;
	margin: 0 auto;
	font-size: 24px;
	color: #FFF;
	

}

/* comment list */
.comment-list h2, .comment-form h2 {
	margin-bottom:5px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:14px;
	text-align: center;
}
.comment-one {
	margin:20px 0;
}
.comment-box {
	padding:0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: url('../images/form-shadow.png') repeat-x top #FFF;
	border:1px solid #C7D1DB;
	
	-moz-box-shadow: 1px 1px 1px #FFF;
-webkit-box-shadow: 1px 1px 1px  #FFF;
box-shadow: 1px 1px 1px  #FFF;
text-shadow: 1px 1px 0 #FFF;

	
}
.comment-bot {
	
}
.reply {
	
}
.comment-meta {
	position:relative;
	padding: 10px;
	border-bottom: 1px solid #CCC;
}
.author {
}
.comment-date {
	position:absolute;
	top:10px;
	right:10px;
}
a.link-reply {
	
}
a.link-reply:hover {
}

.comment-text p {
padding:5px 10px;
font-family: 'Tienne', serif;
line-height: 22px;
font-size: 14px;
	
}
/* comment form */
.comment-form {
	margin:0;
	padding: 10px 0 20px;
	background:#ECF0F4;
	border:1px solid #C7D1DB;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	
}
.comment-form input, .comment-form textarea {
	border:none;
	
}

.comment-form textarea {
	width:815px;
	margin: 0 40px 20px ;
	height:97px;
	overflow:auto;
	padding:10px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: url('../images/form-shadow.png') repeat-x top #FFF;
	border:1px solid #C7D1DB;
	
	-moz-box-shadow: 1px 1px 1px #FFF;
-webkit-box-shadow: 1px 1px 1px  #FFF;
box-shadow: 1px 1px 1px  #FFF;
text-shadow: 1px 1px 0 #FFF;


}

.error {
	overflow:hidden;
	border:1px solid red!important;
}

#codeoftheday {
	height:650px;
	width:996px;
	margin:0 auto 0;
	padding-top:40px;
}

#codeoftheday h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	letter-spacing:2px;
	font-weight:800;
	margin-bottom:20px;
	margin-top:0;
	font-size: 40px;
}
#code-header {
	background:url('../images/codeofday-header.png') center no-repeat;
	height:52px;
	line-height:60px;
	margin-bottom:20px;
}
#code-header h2 {
	float:left;
	padding-left:45px;
}
#code-header h3 {
	float:right;
	padding-right:45px;
}

.code-box-content.no-code {
	background-color: #1B2539;
	height:398px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border:2px solid #C7D1DB;
	position:relative;
}

.code-box-content.no-code  h2{
	text-align:center;
	color: #FFF;
	font-weight:bold;
	font-size:40px;
	text-shadow:-1px -1px 0 #000;
	margin-top:120px;

}

.code-box-content.no-code  p{
	text-align:center;
	width:600px;
	margin:0 auto;
	font-size:16px;
	color: #C7D1DB;
	

}

.code-box-content.no-code  a{
	width:200px;
	margin:20px auto 0;
	position:relative;
}


.code-box {
	background:#E6E8EC;
	height:400px;
	width:780px;
	margin:0 auto;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding:20px;
}
.code-box-content {
	background-color: #0D1D33;
	height:398px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border:2px solid #2F3C4D;
	position:relative;
}
.code-box-content a {
	position:absolute;
	bottom:0;
	display:block;
	text-align:center;
	width:300px;
	padding:5px 0;
	background:#2B90C8;
	width:100%;
	color:#FFF;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:2px;
	font-size:14px;
	border-top:1px solid #CCC;
	font-weight:700;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 12px;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre {
	position: relative;
	color: white;
	font-family: Monaco, Courier, MonoSpace;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	overflow-y: auto;
}
#toolbar {
	height:30px;
	border-bottom:1px solid #2D3547;
	background:#000;
	
}

#logout {
	float:right;
	line-height:30px;
}

#toolbar-content {
	width:980px;
	margin:0 auto;
}
#toolbar-content p {
	margin:0;
	line-height:30px;
	color:#E6E8EC;
	float:left;
}
#user-bar {
	float:right;
	width:340px;
}

#user-bar p {
	margin-right: 10px;
	
}


.howitworks {
	text-align:center;
	color:#39435C;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	letter-spacing:2px;
	height:107px;
	font-size: 28px;
	line-height:75px;
	font-weight:800;
	background:#ECF0F4;
	border-bottom:1px solid #C7D1DB;
}
/* post styles */
.code {
	clear:both;
	padding-bottom:60px;
}
.code-title h1, .code-title h2 {
	font-family: 'Tienne', serif;
	font-size:26px;
	margin:0 0 10px 0;
	color:#000;
}
.code-title h2 a {
	color:#000;
}
.code-title h2 a:hover {
	color:#075C87;
}
.code-title h3 {
	font-size:16px;
	margin-bottom:15px;
	font-family: 'Tienne', serif;
}
.code-meta {
	color:#afb2b5;
	margin-bottom:10px;
	font-size:12px;
}
.code a {
	color:#25a0cc
}
.code a:hover {
	color:#075C87
}
.code-entry {
	padding:5px;
	line-height:1.6em
}
.code-entry .code-box {
	width:630px;
	height:200px;
	margin:0;
}
.code-entry .code-box-content {
	width:556px;
	height:196px;
	margin:0;
}

.archive .code-entry .code-box-content {
	width:666px;
	height:196px;
	margin:0;
}
.code-entry pre {
	position: relative;
	color: white;
	font-family: Monaco, Courier, MonoSpace;
	line-height: 1.8;
	font-size: 12px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 25px;
	margin-left: 0pt;
	overflow-x: auto;
	overflow-y: auto;
}
.code-entry img.alignleft {
	margin:5px 15px 10px 0
}
.code-entry img.alignright {
	margin:5px 0 10px 15px
}
.code-entry img.aligncenter {
	margin:10px 0 10px 0;
}
.code-meta-bot {
	margin-bottom:10px;
	background:url('../images/code-bot-bg.png') center no-repeat;
}

.code-meta-bot .btn-more {

}
.code-entry h2, .code-entry h3, .code-entry h4, .code-entry h5 {
	
}
.code-entry h2 {
}
.code-entry h3 {
}
.code-entry h4 {
}
.code-entry h5 {
	}
.code-entry blockquote {
	
}
.code-entry blockquote p {
}
.code-entry blockquote blockquote {
}
/* VOTING BUTTONS */ 


#voting {
	float:right;
	width:44px;
	height:109px;
}
#voting span {
	display:block;
	height:20px;
	line-height:20px;
	text-transform:uppercase;
	font-size:11px;
	text-align:center;
	font-weight:900;
}
.upvote {
	width:38px;
	height: 38px;
	cursor: pointer;
	background: url('../images/arrows.png') no-repeat top left;
	margin:3px;
}
.upvote:hover {
	background: url('../images/arrows.png') no-repeat top right;
}
.downvote {
	margin:3px;
	width:38px;
	height: 38px;
	cursor: pointer;
	background:url('../images/arrows.png') no-repeat bottom left;
}
.downvote:hover {
	background:url('../images/arrows.png') no-repeat bottom right;
}
.tagsmenu {
	width:180px;
	font-size:14px;
	font-weight:bold;
	padding-bottom:40px
}
.tagsmenu a:hover {
	color:#075C87
}
.tagsmenu h3 {
	font-size:22px;
	padding:0 0 10px 17px;
	border-bottom:1px solid #e4e4e6
}
.tagsmenu li {
	background:#E6E8EC;
	margin-bottom:10px;
}
.tagsmenu .active a {
	color:#075C87
}
.tagsmenu a {
	color:#25a0cc;
	padding:10px;
	display:block;
}
.page-top {
	width:916px;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/header-top.png') no-repeat center top;
	height:70px;
	padding:0 40px;
	line-height:70px;
}
.page-top h1 {
	color:#FFF;
	font-size:28px;
}
.user-columns {
	padding:20px;
}
.user-columns table {
	width:100%;
	border:none;
	border-spacing:10px;
}
.user-columns table h3 {
	font-size:14px;
	margin-bottom:5px;
	font-weight:bold;
}
.score {
	background:#333;
	color:#FFF;
	padding:2px 5px;
	float:left;
	margin-top:5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.user-columns table td {
	background:#E6E8EC;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	vertical-align:top;
	width:20%;
}
.user-columns table img {
	float:left;
	margin:10px 0 0 10px;
}
.user-columns table p {
	margin:0;
}
.user-columns .user-info {
	margin:10px 10px 0 70px;
	height:60px;
}
.user-columns ul {
	overflow:hidden;
	margin:10px;
}
.user-columns ul li {
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.user-columns ul li a {
	display:block;
	padding:2px;
	background:#BEC9D6;
	color:#FFF;
	text-shadow:-1px -1px 0 #7B93B0;
	border-bottom:1px solid #7B93B0;
	border-right:1px solid #7B93B0;
}
ul.tabs {
	font-family: 'Tienne', serif;
	margin: 0;
	padding:0 30px;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
}
ul.tabs li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0;
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
}
.tab_container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
}
.tab_content {
}
/* ----------------------------------------------
-- GLOBAL STYLES FOR ALL PAGINATION STYLES
---------------------------------------------- */

.pagination {
	font-family: 'Tienne', serif;
	display:inline-block;
	font-size: 10px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.pagination .dots {
	bottom: -6px;
	color: #606060;
	position: relative;
}
.pagination a, .pagination .dots {
	display: inline-block;
	margin-right: 2px;
	padding: 2px 8px;
}
div.pagination a:hover {
	color: #303030;
}
div.pagination a:active {
	color: #585858;
}
.pagination a.number {
	border: 1px solid #ddd;
	/* CURVED CORNERS */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.pagination a.number:hover {
	border-color: #d0d0d0;
	/* DROP SHADOWS */
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
.pagination a.number.current {
	color: #fff;
}
.pagination a.number.current:hover {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.pagination a.number.current:active {
	/* INNER SHADOWS */
	-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 1px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}
/* BLUE PAGINATION STYLE */
.pagination.blue, .pagination.blue a {
	color: #4fa3e0;
}
.pagination.blue a.number.current {
	background-color: #4fa3e0;
	border-color: #4b9ec9 #2e7fb4 #206fa8;
	text-shadow: 0px 1px 1px #206fa8;
	background: -moz-linear-gradient(top,  #b5dfef,  #7fc3df 5%,  #4fa3e0  );
	background: -webkit-gradient(linear, left top, left bottom,  from(#b5dfef),  color-stop(0.05, #7fc3df),  to(#4fa3e0)  );
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#7fc3df', EndColorStr='#4fa3e0');
}
.pagination.blue a.number.current:hover {
	border-color: #4092c0 #1f68a1 #175e97;
	background-color: #3f91c0;
	background: -moz-linear-gradient(top,  #aad9ec,  #72bad9 5%,  #3f91c0  );
	background: -webkit-gradient(linear, left top, left bottom,  from(#aad9ec),  color-stop(0.05, #72bad9),  to(#3f91c0)  );
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#72bad9', EndColorStr='#3f91c0');
}
.pagination.blue a.number.current:active {
	border-color: #206fa8 #2e7fb4 #4b9ec9;
	text-shadow: 0px -1px 1px #1f68a1;
	background: -moz-linear-gradient(top,  #3f91c0,  #72bad9  );
	background: -webkit-gradient(linear, left top, left bottom,  from(#3f91c0),  to(#72bad9)  );
 filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f91c0', EndColorStr='#aad9ec');
}


p.alert {
	background:url('../images/notice-bg.png') repeat-x top;
	padding:10px 40px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	text-shadow:1px 1px 0 #000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:4px solid #FFF;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	
	
}

p.notice {
	background:url('../images/notice-bg.png') repeat-x top;
	padding:10px 40px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	font-size:16px;
	text-shadow:1px 1px 0 #000;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:4px solid #FFF;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px #000;
	position:absolute;
	width:500px;
	top: 300px;
    left: 50%;
    margin-left:-294px;
    z-index:9999;
}


.sidebar {
	
	width:240px;
	float:left;

}

.sidebar h3 {
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom: 10px;
}

.tags {
	margin:0 5px 5px 0;
	
	float:left;
	position:relative;
	
	
}

.tags a {
	padding:0 15px 0 20px;
	height:30px;
	line-height:30px;
	color:#fff;
	font-weight:bold;
	background:url('../images/tag-bg.png') no-repeat left;
	display:inline-block;
	padding-right:30px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;

}

.tags a:hover {
	background:url('../images/tag-bg-hover.png') no-repeat left;
	color: #000;

}

.closed {
	width:20px;
	height:30px;
	background: url('../images/close.png') no-repeat center;
	position:absolute;
	right:5px;
	text-indent:-9999px;
	cursor:pointer;
}

ul.sidebar-nav li{
	margin:0 0 10px;
}

ul.sidebar-nav li a{
	padding:10px;
	display:block;
}

.content-col {
	margin-left:280px;
}

h1.page-title {
	margin:0 0 20px 0;
	text-align:center;
	
}

form.new_code {
	background: url('../images/form-bg.png') repeat-y center;
	padding:20px 180px 0;
	width:500px;
	margin:0 auto;
}

form.new_code label {
	position:absolute;
	padding:10px;
	font-weight:bold;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	color:#1F2933;
}

#post-code-bottom {
background: url('../images/form-bg-bottom.png') no-repeat center;
height: 74px;
}

#post-code-top {
background: url('../images/form-bg-top.png') no-repeat center top;
height: 54px;
padding-top: 20px;
}

form.new_code label.flag-label {
background:url('../images/flag-label.png') no-repeat center top;
margin-top:10px;
margin-left:-10px;
width:100px;
padding:8px 10px 20px 10px;	

}

form.new_code label.languages-label {
	height:40px;
	padding:0 10px;
	line-height:40px;
	width:130px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#FFF url('../images/label-bg.png') repeat-x top;
	border:1px solid #92A1B0;
	-moz-box-shadow: 1px 1px 1px #FFF;
-webkit-box-shadow: 1px 1px 1px  #FFF;
box-shadow: 1px 1px 1px  #FFF;
	
}

form.new_code input, form.new_code textarea {
	border:none;
	padding:50px 10px 20px;
	width:480px;
	margin:0 0 10px 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background:#FFF url('../images/form-shadow.png') repeat-x top;
	border:1px solid #92A1B0;
	-moz-box-shadow: 1px 1px 1px #FFF;
-webkit-box-shadow: 1px 1px 1px  #FFF;
box-shadow: 1px 1px 1px  #FFF;



}

.styled-select {
	height:42px;
	margin-bottom:25px;
}

input#code_title {
	padding:0 0 0 60px;
	width:440px;
	height:38px;
	line-height:38px;
	font-size:18px;
}

input#code_submit {
	background:url('../images/cyan-bg.png') repeat-x top;
	text-transform:uppercase;
	color:#FFF;
	font-weight:bold;
	font-family: 'Open Sans',sans-serif;
	width:300px;
	text-align:center;
	padding:10px ;
	margin:0 auto;
	display:block;
}

a#share-gists {
	padding:10px;
	display:block;
	text-align:center;
	width: 260px;
	margin: 0 auto;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: url('../images/button-white.png') repeat-x top #FFF;
	border:1px solid #92A1B0;
	text-transform: uppercase;
	font-weight: bold;	
	-moz-box-shadow: 1px 1px 1px #FFF;
-webkit-box-shadow: 1px 1px 1px  #FFF;
box-shadow: 1px 1px 1px  #FFF;
text-shadow: 1px 1px 0 #FFF;
}

a#share-gists:hover {
background: url('../images/form-shadow.png') repeat-x top #EDF0F2;
}

form.new_code select {
	margin-left:180px;
	padding:10px;
	border:none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#FFF url('../images/form-shadow.png') repeat-x top;
	border:1px solid #92A1B0;
	-moz-box-shadow: 1px 1px 1px #FFF;
	-webkit-box-shadow: 1px 1px 1px  #FFF;
	box-shadow: 1px 1px 1px  #FFF;
	line-height:42px;
	
}

form.code_search {
	margin:0 0 10px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	height: 70px;
}

form.code_search label {
	display:block;
	padding:0;
	font-weight:bold;
	font-family: 'Open Sans',sans-serif;
	text-transform:uppercase;
	color:#1F2933;
} 

form.code_search input {
	background:#FFF url('../images/form-shadow.png') repeat-x top;
	height:40px;
	border:none;
	padding:0 10px;
	margin:0;
	width:177px;
	float:left;
	border-top:1px solid #92A1B0;
	border-bottom:1px solid #92A1B0;
	border-left:1px solid #92A1B0;
	-moz-border-radius:6px  0  0 6px;
	-webkit-border-radius:6px  0  0 6px;
	border-radius:6px  0  0 6px;
}

form.code_search input#search_submit {
	background:#DDE2E8 url('../images/search-icon.png') no-repeat center;
	height:42px;
	display:block;
	width:42px;
	text-indent:-9999px;
	border:none;
	cursor:pointer;
	overflow:hidden;
	float:left;
	border:1px solid #92A1B0;
	-moz-border-radius:0  6px 6px 0;
	-webkit-border-radius:0  6px 6px 0;
	border-radius:0  6px 6px 0;
	
}

.code-post {
	margin:0 0 30px;
	padding-bottom: 40px;
	
}

#post-header {
}

#post-header h2 span {
font-family: 'Tienne', serif;

}


#post-header h2 a {
font-weight: bold;

}

.code-content {
	margin:0 0 20px;
	padding:20px;
	background:#ECF0F4;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	
	
}

.code-content pre {
}

p.author {
	margin:0 0 10px;
}

.code-voting {
position: absolute;
top:20px;
right: 20px;
width: 40px;
	
}



a#code {
}

.code-post-box {
background: #1B2539;
padding: 20px;
margin-right: 60px;
}

.code-description {
padding: 10px 0;
}



form#user_new, form#user_edit {
	background:#ECF0F4;
	padding:20px 50px;
	width:230px;
	margin:0 auto;
	border:1px solid #C7D1DB;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

form#user_new label, form#user_edit label {
	text-transform:uppercase;
	display:block;
	padding:5px 0;
	font-weight:bold;
	
}

form#user_new label#checkbox-label {
	display:inline;
	padding:0;
	
	
}

form#user_new input#user_email, form#user_new input#user_password, form#user_new input#user_password_confirmation, form#user_new input#user_nickname, form#user_edit input, form#user_edit textarea  {
	
	width:210px;
	padding:10px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#FFF url('../images/form-shadow.png') repeat-x top;
	border:1px solid #92A1B0;
	
}

form#user_new input#user_submit, form#user_edit input#user_submit {
	background:#339FD0;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	border:none;
	width:230px;
	padding:5px 0;
	cursor:pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #92A1B0;
	margin-top:20px;
	font-size:19px;

}

ul.user-list {
	clear:both;
	padding-top:40px;
}

ul.user-list li {
	height:100px;
	width:280px;
	display:inline-block;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	padding:10px;
	margin-bottom:4px;
	border:1px solid #ECF0F4;
}



.user-tags  {
	margin-top:10px;
	display:inline-block;	
}

.user-tags a {
	margin-right:5px;
	display:inline-block;
}



span.list-score {
	display:block;
	float:right;
	line-height:35px;
	width:50px;
	padding:0 10px;
	font-weight:bold;
	font-size:16px;
	text-align:right;
	color:#FFF;
	letter-spacing:2px;
	background:#ccc;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin:0 0 0 0;
}

#user-top-bar {
background:#ECF0F4;
	border:1px solid #C7D1DB;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
padding:10px 20px;
}

.user-filters  {
float: right;
}
.user-filters a {
	width:150px;
	display:inline-block;
	margin-left:5px;
	line-height: 42px;
	text-align: center;
		-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background: url('../images/button-white.png') repeat-x top #FFF;
	border:1px solid #92A1B0;
	text-transform: uppercase;
	font-weight: bold;	
	-moz-box-shadow: 1px 1px 1px #FFF;
-webkit-box-shadow: 1px 1px 1px  #FFF;
box-shadow: 1px 1px 1px  #FFF;
text-shadow: 1px 1px 0 #FFF;
	
}

.user-filters a:hover {
	background: url('../images/form-shadow.png') repeat-x top #EDF0F2;
		
}



form#user_search {
	display: inline-block;
	margin-bottom: 0;
}


form#user_search label {
	font-weight: bold;
	text-transform: uppercase;
	color:#1F2933;
	margin-right: 10px;
	float: left;
	line-height: 42px;
}

form#user_search input#search-by-nickname {
background:#FFF url('../images/form-shadow.png') repeat-x top;
	height:40px;
	border:none;
	padding:0 10px;
	margin:0;
	width:177px;
	border-top:1px solid #92A1B0;
	border-bottom:1px solid #92A1B0;
	border-left:1px solid #92A1B0;
	-moz-border-radius:6px  0  0 6px;
	-webkit-border-radius:6px  0  0 6px;
	border-radius:6px  0  0 6px;
	float: left;
	
}

form#user_search input#search_submit {
background:#DDE2E8 url('../images/search-icon.png') no-repeat center;
	height:42px;
	width:42px;
	text-indent:-9999px;
	border:none;
	cursor:pointer;
	overflow:hidden;
	border:1px solid #92A1B0;
	-moz-border-radius:0  6px 6px 0;
	-webkit-border-radius:0  6px 6px 0;
	border-radius:0  6px 6px 0;
	float: left;
}

.user-list img {
	float:left;
	margin-right:10px;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow: 1px 1px 3px #888;
	box-shadow: 1px 1px 3px #888;
}

.user-list h4 {
	float:left;
	width:140px;
	line-height:48px;
	font-size:14px;
	font-weight:bold;
}


.recent-list {
	padding:0;
	margin-bottom:40px;
	background: url('../images/recent-items-bg.png') no-repeat top right;
}

.recent-list h4 {
	margin-bottom:0;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	background: url('../images/recent-bg.png') no-repeat center;
	padding: 0 50px 0 30px;
	width:140px;
	display:inline-block;
	height: 140px;
	line-height: 135px;
	text-align: center;
	color: #FFF;
	text-shadow: -1px -1px 0 #1776A1;
	margin-right: 20px;
}

.recent-items {
	display:inline-block;
	width:180px;
	vertical-align:top;
	height: 95px;
	padding: 20px 0;
}

.recent-items p {
	padding-right:20px;
	
}

.recent-items h5 a {
	font-size:14px;
	font-weight:bold;
}

.recent-items span.score {
}

.recent-items h5 {
}

.recent-items img {
	float:left;
	margin-right:10px;
}

.profile-box-vote {
position: absolute;
	top: 20px;
	right: 20px;
	width: 220px;
	padding: 20px;
	border: 1px solid #CCC;
}

.profile-box-vote input {
	background:#FFF;
	padding:10px;
	border:none;
	cursor: pointer;
	
}

.profile-box {
	padding:20px 300px 20px 20px;
	background:#ECF0F4;
	border:1px solid #92A1B0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
	margin-bottom: 20px;
	position: relative;
	height: 230px;
}

.profile-box h2 {
	margin-bottom:20px;
	font-size:28px;

}

.user-codes {
}

.user-codes ul{
	margin-top:10px;	
}

.user-codes ul li{
	margin-bottom:10px;
	padding: 10px 0;
	border-bottom: 1px solid #C7D1DB;

}


.user-codes h3 {
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	margin: 0;
	
}

.user-photo {
	height:100px;
	width:100px;
	background:#FFF;
	float:left;
	text-align: center;
	line-height: 100px;
	color: #CCC;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.profile-box-details {
	margin-left:120px;
}

.profile-box-details a {
	display:block;
	

	
}

.profile-box-details p {
	margin:10px 0 0 0;
	
	
}

.profile-box-score  {
	text-align:right;
	margin: 0;
	width:100px;
	float:left;
}

.profile-box-score p {
	font-size:28px;
	margin:0;
	font-weight:bold;
}

.profile-box-left {
width: 100px;
float: left;

}


.active-code {
	border:1px solid #92A1B0;
	padding: 20px 80px 20px 20px;
	margin-bottom: 20px;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
}

.active-code-voting {
	width: 40px;
	top: 20px;
	right: 20px;
	position: absolute;
}


.active-code h2 {
	margin: 0;
	font-weight: bold;

}

.active-code p.author {
	font-weight: bold;
	margin: 0;
	
}

.active-code .code-description {
margin: 10px 0;
}

.voting-score {
	width: 40px;
	text-align: center;
}

.active-code-voting input {
	text-indent: -9999px;
	width: 40px;
	height: 40px;
}

input.button-up {
width: 40px;
height: 40px;
	
}

input.button-up:hover {
}

input.button-down {
width:40px;
height: 40px;
	
}

input.button-down:hover {
}

.tip-box {
	background: #F7F2C3 url('../images/page-corner.png') no-repeat right top;
	margin-bottom: 20px;
	padding: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#logout {
font-weight: bold;
text-transform: uppercase;
color: #FFF;
padding: 0;
}

#user-nickname {
line-height: 30px;
margin-right: 20px;
}

#user-score{
line-height: 30px;
}

.user-info {
background: #FFF;
padding:5px 10px;
margin-bottom: 10px;
}


.user-info h4 {
display: inline-block;
font-weight: bold;
text-transform: uppercase;
font-size: 12px;
width: 70px;

}


#edit-profile {
display: block;
clear: both;
margin-top: 40px;
}

#promo-box {
padding: 20px 0;
margin: 0 10px 40px;
}

.archived-code {
margin-bottom:0;
width: 301px;
height: 220px;
display: inline-block;
border:1px solid #C7D1DB;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
	overflow: hidden;
}

.archive-month {
text-align: center;
padding: 10px;
margin-bottom: 20px;
background:#ECF0F4;
	border:1px solid #C7D1DB;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;	
}

.archived-code h3 {
font-size: 20px;
width: 182px;
overflow: hidden;
padding:0 10px;
font-weight: bold;
margin: 0;

}


.archived-code .date {
padding: 10px;
border-bottom:1px solid #C7D1DB;
margin-bottom: 10px;
background: #ECF0F4;

}

.archived-code .author {
margin: 0;
padding: 0 10px;
} 

.archived-code .score {
float: none;
padding: 10px;
margin: 10px;
background: #CCC;
} 


.archived-code .description {
padding: 10px;
}
