 <div class="footer">
  <div class="container">
    <div class="cols fcol-1">
      <h3> Links </h3>
      <ul>
        <li><a href="#"> Homepage </a></li>
        <li><a href="#"> Blog </a></li>
        <li><a href="#"> About </a></li>
        <li><a href="#"> Contact </a></li>
      </ul>

      </div>

<div class="cols fcol-2">
      <h3> Second </h3>
      

      </div>

      <div class="cols fcol-3">
      <h3> Third</h3>
      

      </div>

      <div class="cols fcol-4">
      <h3> Fourth </h3>
      

      </div>


        <div class="cols fcol-5">
        <div class="copyright">
          <p>Copyright  &copy;  2011 Ohthecode! <br /> All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>