<div class="sidebar">
<ul class="sidebar-nav">
<li><%= link_to 'New Code', new_code_path %></li>
<li><%= link_to 'My Profile', edit_user_registration_path %> </li>
<li><%= link_to 'users', users_path %> </li>
</ul>
</div>